body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  flex: auto;
  display: grid;
  padding: 2rem;
  
}

.input-username_password{
  padding: 5px;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.login-btn{
  margin-top: 2rem;
  border-radius: 5rem;
  padding: 10px;
  
}